div{
    background-color: tomato;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.My{
    text-align: center;
    color: white;
    font-size: 25px;

     
}